<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577855778779-1r2gojtv4igp8f3h3kb29c8tsu1dvbch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577855778779-1r2gojtv4igp8f3h3kb29c8tsu1dvbch</string>
	<key>API_KEY</key>
	<string>AIzaSyDo3O6iRYv3saFwAUGHi8iZODfYW_Ez_Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>577855778779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>task-51b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>task-51b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577855778779:ios:8fcd27f7e9404d9acc01fe</string>
</dict>
</plist>